# Exam 1 (100 points total)

As described in the course's Honor Code policy, you may use your notes, and anything provided as part of this course.  You may use your computed to access this allowed information, to use tools to answer these questions (i.e., Jupyter, word processing software, drawing software, and browser to access allowed information).  You may not collaborate with anyone else, and you may not access any websites not associated with the course, except for web-based drawing programs.

For three of the problems, complete and submit this notebook.  In any problem asking for a query, you may decompose the problem into a simpler query that uses views.

For two of the problems, you will turn in ER diagrams either electronically or on paper.  For electronic submission, you can use any drawing program of your choice, but you must submit PDF, PNG, JPG, or GIF files.  For paper submission, make sure to write your name legibly on it.

In [3]:
%load_ext sql
%sql sqlite:///exam1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@exam1.db'

## Problem 1 (20 points)

We will define two tables, each representing a matrix of numbers with 0-based indexing.  These example matrices happen to be $3 \times 3$ in size.  A record is present for each matrix element.

In [17]:
%%sql

DROP TABLE IF EXISTS A;
DROP TABLE IF EXISTS B;

CREATE TABLE A (i INT, j INT, value INT, PRIMARY KEY (i,j));
CREATE TABLE B (i INT, j INT, value INT, PRIMARY KEY (i,j));

INSERT INTO A VALUES (0, 0, 4);
INSERT INTO A VALUES (0, 1, 3);
INSERT INTO A VALUES (0, 2, 7);
INSERT INTO A VALUES (1, 0, 1);
INSERT INTO A VALUES (1, 1, 5);
INSERT INTO A VALUES (1, 2, 2);
INSERT INTO A VALUES (2, 0, 8);
INSERT INTO A VALUES (2, 1, 3);
INSERT INTO A VALUES (2, 2, 2);

INSERT INTO B VALUES (0, 0, 2);
INSERT INTO B VALUES (0, 1, 1);
INSERT INTO B VALUES (0, 2, 8);
INSERT INTO B VALUES (1, 0, 4);
INSERT INTO B VALUES (1, 1, 6);
INSERT INTO B VALUES (1, 2, 2);
INSERT INTO B VALUES (2, 0, 1);
INSERT INTO B VALUES (2, 1, 9);
INSERT INTO B VALUES (2, 2, 2);
INSERT INTO B VALUES (0, 3, 2);
INSERT INTO B VALUES (1, 3, 2);
INSERT INTO B VALUES (2, 3, 2);

Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Write a query that results in the multiplication of the two matrices: $AB$.
$$ (AB)_{ij} = \sum_{k=0}^{m-1} A_{ik} B_{kj} $$
It should have the columns <code>i</code>, <code>j</code>, and <code>value</code>.
It should have a row for each element of the result.
Your query should work for any matrices $A$ and $B$ of sizes $n \times m$ and $m \times p$, respectively.

Feel free to change the sample data to further test your query.

In [18]:
%%sql
DROP VIEW IF EXISTS MatchedColumns;

CREATE VIEW MatchedColumns AS
SELECT A.i AS Ai, A.j AS Aj, A.value AS Aval, B.i AS Bi, B.j AS Bj, B.value AS Bval
FROM A, B
WHERE A.j=B.i
ORDER BY A.i,B.j;

SELECT Ai AS i, Bj AS j, SUM(Aval*Bval) AS value
FROM MatchedColumns
GROUP BY Ai, Bj;

Done.
Done.
Done.

[(0, 0, 27),
 (0, 1, 85),
 (0, 2, 52),
 (0, 3, 28),
 (1, 0, 24),
 (1, 1, 49),
 (1, 2, 22),
 (1, 3, 16),
 (2, 0, 30),
 (2, 1, 44),
 (2, 2, 74),
 (2, 3, 26)]

## Problem 2 (20 points)

We define a single table of numbers with some sample data.

In [75]:
%%sql

DROP TABLE IF EXISTS N;

CREATE TABLE N (i INT);

INSERT INTO N VALUES (5);
INSERT INTO N VALUES (1);
INSERT INTO N VALUES (12);
INSERT INTO N VALUES (7);
INSERT INTO N VALUES (20);
INSERT INTO N VALUES (2);
INSERT INTO N VALUES (14);
INSERT INTO N VALUES (18);
INSERT INTO N VALUES (12);
INSERT INTO N VALUES (8);
INSERT INTO N VALUES (19);
INSERT INTO N VALUES (5);

-- The median of this data is 10, i.e., the average of 8 and 12.

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[]

Write a query that results in one number, the median of the data.  Your query should work for table $N$ of any size.  When there are an even number of values, we will use the definition of median that takes the average of the two middle-valued numbers.  If there is no data, the query should result in NULL.

For this problem, you are *not* allowed to use sorting.  Instead, you will need to appeal to the definition of the median as (roughly) the value such that half the numbers are bigger and half the numbers are smaller.

Feel free to change the sample data to further test your query.

In [76]:
%%sql
DROP VIEW IF EXISTS BiggerCount;
DROP VIEW IF EXISTS SmallerCount;
DROP VIEW IF EXISTS Counts;

CREATE VIEW BiggerCount AS
SELECT N.i, COUNT(DISTINCT N2.i) AS NumBigger
FROM N, N AS N2
WHERE N2.i>=N.i
GROUP BY N.i;

CREATE VIEW SmallerCount AS
SELECT N.i, COUNT(DISTINCT N2.i) AS NumSmaller
FROM N, N AS N2
WHERE N2.i<=N.i
GROUP BY N.i;

CREATE VIEW Counts AS
SELECT BiggerCount.i, NumBigger, NumSmaller
FROM BiggerCount,SmallerCount
WHERE BiggerCount.i=SmallerCount.i;

SELECT AVG(i) AS Median
FROM Counts
WHERE (NumBigger-NumSmaller=1)OR(NumBigger-NumSmaller=-1)OR(NumBigger-NumSmaller=0);

Done.
Done.
Done.
Done.
Done.
Done.
Done.

[(10.0,)]

## Problem 3 (20 points)

Provide an entity-relationship diagram that most accurately describes the following scenario.  You can provide any supplementary notes about your choices as part of the ERD.

An auto insurance company needs to keep track of their customers' auto accidents.  Each accident gets a single accident report number, even if multiple insured drivers were involved.  For an accident, we need to know what car was involved and who was driving it.  We also need to know who owns the car.  After an auto accident, the insurance company assesses the car and assigns a value to the amount of damage it sustained.

People are indexed by their driver license number, but we also know their name and address.  Each car has a VIN, or Vehicle Identification Number, a model and year.  Each accident happens at some location, at some particular date and time.  The insurance company and the insured driver refer to the accident report by its number.

## Problem 4 (20 points)

Provide an entity-relationship diagram that most accurately describes the following scenario.  You can provide any supplementary notes about your choices as part of the ERD.

Doctors perform tests on their patients, as part of their patient's visits, in order to see the results.  While the visit happens on some date at a particular time, the tests might be done later, at its own date and time.  The patient needs to have provided one reason for the visit.  Doctors need to know what the tests were for.  Every single test has a barcoded identifier associated with it and its results.

Doctors have names and identification numbers.  While doctors can be identified in a number of ways (e.g., state license numbers, numbers issued by the DEA), our system will use its own IDs.  Each doctor practices one particular specialization.

Patients also have names and identification numbers.  Rather simplistically, we only keep track of the name of each patient's insurance plan.

(While it may be the case that the drivers in the previous problem now need to be patients in this problem, do not combine the two ERDs.)

## Problem 5 (20 points)

Consider the following ER diagram.
![ERD](http://www.texample.net/media/tikz/examples/PNG/entity-relationship-diagram.png)
The diagram's notation is slightly different from what we used.  The ISA triangle indicates that Mechanic and Salesman are non-disjoint subsets of Employee.  We used a circle with subset symbols, instead.

Write schemas in the form of SQL <code>CREATE TABLE</code> statements that most accurately captures the semantics of this ERD.  Include the appropriate <code>PRIMARY KEY</code>, <code>FOREIGN KEY</code>, and <code>NOT NULL</code> constraints.  Since the ER diagram does not provide type information for the attributes, choose appropriate types based upon the attribute names and context.

In [77]:
%%sql

CREATE TABLE Employee (
    name VARCHAR(50),
    number INT,
    PRIMARY KEY (number)
);

CREATE TABLE Mechanic (
    name VARCHAR(50),
    number INT,
    PRIMARY KEY (number),
    FOREIGN KEY (number) REFERENCES Employee (number),
    FOREIGN KEY (name) REFERENCES Employee (name)
);

CREATE TABLE Salesman (
    name VARCHAR(50),
    number INT,
    PRIMARY KEY (number),
    FOREIGN KEY (number) REFERENCES Employee (number),
    FOREIGN KEY (name) REFERENCES Employee (name)
);

CREATE TABLE Client (
    ID INT,
    name VARCHAR(50),
    phone CHAR(10),
    address VARCHAR(50),
    PRIMARY KEY (ID)
);

CREATE TABLE Car (
    license VARCHAR(20),
    manufacturer VARCHAR(50),
    model VARCHAR(50),
    year INT,
    PRIMARY KEY (license)
);

CREATE TABLE RepairJob (
    number INT,
    mechanic_number INT,
    car_license VARCHAR(20) NOT NULL,
    description VARCHAR(100),
    parts_cost DECIMAL(10,5),
    work_cost DECIMAL(10,5),
    PRIMARY KEY (number,mechanic_number),
    FOREIGN KEY (mechanic_number) REFERENCES Mechanic (number),
    FOREIGN KEY (car_license) REFERENCES Car (license)
);

CREATE TABLE Buys (
    salesman_number INT,
    client_ID INT,
    car_license VARCHAR(20),
    price DECIMAL(10,5),
    date CHAR(10),
    value DECIMAL(10,5),
    PRIMARY KEY (salesman_number,client_ID,car_license),
    FOREIGN KEY (salesman_number) REFERENCES Salesman (number),
    FOREIGN KEY (car_license) REFERENCES Car (license),
    FOREIGN KEY (client_ID) REFERENCES Client (ID)
);

CREATE TABLE Sells (
    salesman_number INT,
    client_ID INT,
    car_license VARCHAR(20),
    comission DECIMAL(10,5),
    date CHAR(10),
    value DECIMAL(10,5),
    PRIMARY KEY (salesman_number,client_ID,car_license),
    FOREIGN KEY (salesman_number) REFERENCES Salesman (number),
    FOREIGN KEY (car_license) REFERENCES Car (license),
    FOREIGN KEY (client_ID) REFERENCES Client (ID)
);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

You can provide any supplementary notes about your choices in the following box.